@using Team_5.Models.Clinic
@model Team_5.Models.ViewModels.AnimalHospitalizationViewModel

@{
    ViewData["Title"] = "Crea Animale e Ricovero";
    var breeds = ViewBag.Breeds as List<Breeds>;
}

<h1>Crea Animale e Ricovero</h1>

<form asp-action="CreateAnimalAndHospitalization" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @* Animal Details *@
    <h3>Dettagli Animale</h3>
    <div class="form-group">
        <label asp-for="Animal.Name" class="control-label mt-2">Inserisci nome Animale:</label>
        <input asp-for="Animal.Name" class="form-control" />
        <span asp-validation-for="Animal.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Animal.NumMicrochip" class="control-label mt-2">Inserisci N.Microchip:</label>
        <input asp-for="Animal.NumMicrochip" class="form-control" />
        <span asp-validation-for="Animal.NumMicrochip" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Animal.Color" class="control-label mt-2">Inserisci colore animale:</label>
        <select asp-for="Animal.Color" class="form-control">
            <option value="" disabled selected>Seleziona un colore</option>
            <option value="Black">Nero</option>
            <option value="White">Bianco</option>
            <option value="Brown">Marrone</option>
            <option value="Gray">Grigio</option>
            <option value="Orange">Arancione</option>
            <option value="Spotted">Maculato</option>
            <option value="Striped">Tigrato</option>
        </select>
        <span asp-validation-for="Animal.Color" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Animal.BirthDate" class="control-label mt-2">Inserisci data di nascita:</label>
        <input asp-for="Animal.BirthDate" type="date" class="form-control" />
        <span asp-validation-for="Animal.BirthDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdBreed" class="mt-2">Inserisci razza animale:</label>
        <select asp-for="IdBreed" class="form-control">
            <option value="">Seleziona Razza</option>
            @foreach (var breed in breeds)
            {
                <option value="@breed.IdBreed">@breed.Name</option>
            }
        </select>
        <span asp-validation-for="IdBreed" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label for="Image">Inserisci immagine:</label>
        <input type="file" id="Image" name="Image" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Invia</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
