@using Team_5.Models.Clinic
@model Team_5.Models.Clinic.Examinations

@{
    ViewData["Title"] = "CreateExamination";
    var animals = ViewBag.Animals as List<Animals>;
}

<h1>Aggiungi Ricovero</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateExamination">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExaminationDate" class="control-label">Inserisci data ricovero:</label>
                <input asp-for="ExaminationDate" class="form-control" />
                <span asp-validation-for="ExaminationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExaminationName" class="control-label mt-3">Inserisci informazioni ricovero:</label>
                <input asp-for="ExaminationName" class="form-control" />
                <span asp-validation-for="ExaminationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treatment" class="control-label mt-3">Inserisci informazioni trattamento:</label>
                <input asp-for="Treatment" class="form-control" />
                <span asp-validation-for="Treatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalId" class="control-label mt-3">Seleziona l'animale per il ricovero:</label>
                <select asp-for="AnimalId" class="form-control" asp-items="@(new SelectList(animals, "IdAnimal", "Name"))">
                    <option value="" disabled selected>Seleziona un opzione</option>
                </select>
                <span asp-validation-for="AnimalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
