@model Team_5.Models.Clinic.Examinations

@{
    ViewData["Title"] = "CreateExaminationAsync";
}

<h1>CreateExaminationAsync</h1>

<h4>Examinations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateExaminationAsync">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExaminationDate" class="control-label"></label>
                <input asp-for="ExaminationDate" class="form-control" />
                <span asp-validation-for="ExaminationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExaminationName" class="control-label"></label>
                <input asp-for="ExaminationName" class="form-control" />
                <span asp-validation-for="ExaminationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treatment" class="control-label"></label>
                <input asp-for="Treatment" class="form-control" />
                <span asp-validation-for="Treatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalId" class="control-label"></label>
                <input asp-for="AnimalId" class="form-control" />
                <span asp-validation-for="AnimalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
