@using Team_5.Models.ViewModels
@model CreateAnimalViewModel

@{
    var ownerItems = Model.Owners.Select(o => new SelectListItem
            {
                Value = o.IdOwner.ToString(),
                Text = $"{o.Name} {o.Surname} - ID: {o.IdOwner}" 
            }).ToList();
}

@{
    ViewData["Title"] = "Create Animal";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="CreateAnimal" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RegistrationDate" class="control-label"></label>
        <input asp-for="RegistrationDate" class="form-control" type="date" disabled />
        <span asp-validation-for="RegistrationDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BirthDate" class="control-label"></label>
        <input asp-for="BirthDate" class="form-control" type="date" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumMicrochip" class="control-label"></label>
        <input asp-for="NumMicrochip" class="form-control" />
        <span asp-validation-for="NumMicrochip" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" class="form-control" type="file" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Color" class="control-label"></label>
        <select asp-for="Color" class="form-control">
            <option value="" disabled selected>Select a Color</option>
            <option value="Black">Black</option>
            <option value="White">White</option>
            <option value="Brown">Brown</option>
            <option value="Gray">Gray</option>
            <option value="Gray">Orange</option>
            <option value="Spotted">Spotted</option>
            <option value="Striped">Striped</option>
        </select>
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedOwnerId" class="control-label"></label>
        <select asp-for="SelectedOwnerId" asp-items="ownerItems" class="form-control">
            <option value="" disabled selected>Select an Owner</option>
        </select>
        <span asp-validation-for="SelectedOwnerId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedBreedId" class="control-label"></label>
        <select asp-for="SelectedBreedId" asp-items="@(new SelectList(Model.Breeds, "IdBreed", "Name"))" class="form-control">
            <option value="" disabled selected>Select a breed</option>
        </select>
        <span asp-validation-for="SelectedBreedId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
