@using Team_5.Models.ViewModels
@model CreateAnimalViewModel

@{
    var ownerItems = Model.Owners.Select(o => new SelectListItem
            {
                Value = o.IdOwner.ToString(),
                Text = $"{o.Name} {o.Surname} - ID: {o.IdOwner}"
            }).ToList();
}
<link rel="stylesheet" href="~/css/auth.css" />

@{
    ViewData["Title"] = "Aggiungi Animale";
}


<div class="row align-items-center justify-content-center">
    <div class="col-12 col-sm-10 col-md-9 col-lg-8 col-xl-7">
        <div class="bg-custom rounded p-5 my-4 mx-3">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h3 class="text-red">REGISTRAZIONE ANIMALE</h3>
                <h3 class="text-light">Creazione <i class="fa-solid fa-dog text-red"></i></h3>
            </div>
            <form asp-action="CreateAnimal" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label asp-for="Name" class="control-label mb-1 text-light">Inserisci nome animale:</label>
                    <input asp-for="Name" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="RegistrationDate" class="control-label mb-1 text-light mt-2">Data di registrazione:</label>
                    <input asp-for="RegistrationDate" class="form-control bg-secondary text-light" type="date" disabled />
                    <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="BirthDate" class="control-label mb-1 text-light mt-2">Inserisci data di nascita:</label>
                    <input asp-for="BirthDate" class="form-control bg-secondary text-light" type="date" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="NumMicrochip" class="control-label  mb-1 text-light mt-2">Inserisci num. microchip:</label>
                    <input asp-for="NumMicrochip" class="form-control bg-secondary text-light" />
                    <span asp-validation-for="NumMicrochip" class="text-danger"></span>
                </div>

                <div class="form-group my-3">
                    <div class="d-flex align-items-center">
                        <label asp-for="Image" class="control-label mb-1 text-light mt-2">Inserisci immagine:</label>
                        <div class="custom-file-upload ms-3">
                            <input asp-for="Image" type="file" id="fileInput" />
                            <label for="fileInput" class="btn btn-primary">Scegli file</label>
                        </div>
                    </div>

                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Color" class="control-label mb-1 text-light mt-2">Inserisci colore animale:</label>
                    <select asp-for="Color" class="form-control bg-secondary text-light">
                        <option value="" disabled selected>Seleziona un colore</option>
                        <option value="Black">Nero</option>
                        <option value="White">Bianco</option>
                        <option value="Brown">Marrone</option>
                        <option value="Gray">Grigio</option>
                        <option value="Orange">Arancione</option>
                        <option value="Spotted">Maculato</option>
                        <option value="Striped">Tigrato</option>
                    </select>
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="SelectedOwnerId" class="control-label mb-1 text-light mt-2">Inserisci proprietario:</label>
                    <select asp-for="SelectedOwnerId" asp-items="ownerItems" class="form-control bg-secondary text-light">
                        <option value="" disabled selected>Seleziona un proprietario</option>
                    </select>
                    <span asp-validation-for="SelectedOwnerId" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="SelectedBreedId" class="control-label mb-1 text-light mt-2">Inserisci razza animale:</label>
                    <select asp-for="SelectedBreedId" asp-items="@(new SelectList(Model.Breeds, "IdBreed", "Name"))" class="form-control bg-secondary text-light">
                        <option value="" disabled selected>Seleziona una razza</option>
                    </select>
                    <span asp-validation-for="SelectedBreedId" class="text-danger"></span>
                </div>
                <input type="submit" value="Crea" class="btn btn-red py-3 w-100 my-4 text-white" />
                
            </form>
        </div>
<a asp-action="AnimalList" class="btn btn-blu mt-2">Torna Alla Lista</a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
