
@{
    ViewData["Title"] = "GetAnimalByMicrochip";
}

<h1>GetAnimalByMicrochip</h1>

<div class="container">
    <h1>Inserisci n. microchip:</h1>
    <input type="text" id="microchip" />
    <div id="animals"></div>
</div>