@model Team_5.Models.Auth.Users

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()

    <!-- Custom Validation Message for Login -->
    @if (ViewData.ModelState.ContainsKey("LoginError"))
    {
        <div class="alert alert-danger">
            <span>Username o password non validi!Riprova</span>
        </div>
    }

    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>

    <div>
        <a asp-action="Register" class="btn btn-link">Register</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
