@using Team_5.Models.Pharmacy
@model Team_5.Models.Pharmacy.Orders

@{
    ViewData["Title"] = "CreateOrder";
    var product = ViewBag.Products as List<Products>;
}

<h1>Aggiungi Ordine</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderQuantity" class="control-label">Inserisci quantità:</label>
                <input asp-for="OrderQuantity" class="form-control" />
                <span asp-validation-for="OrderQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="cf" class="control-label mt-2">Inserisci codice fiscale:</label>
                <input name="cf" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label mt-2">Inserisci data ordine:</label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescriptionNumber" class="control-label mt-2">Inserisci num. ricetta medica:</label>
                <input asp-for="PrescriptionNumber" class="form-control" />
                <span asp-validation-for="PrescriptionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProduct" class="mt-2">Inserisci prodotto:</label>
                <select asp-for="IdProduct" class="form-control">
                    <option value="" selected disabled>Seleziona il prodotto</option>
                    @foreach (var pr in product)
                    {
                        <option value="@pr.IdProduct">@pr.ProductName</option>
                    }
                </select>
                <span asp-validation-for="IdProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aggiungi" class="btn btn-red mt-2" />
            </div>
        </form>
    </div>
</div>

<a asp-action="OrderList" class="btn btn-blu mt-2">Torna Alla Lista</a>