@{
    ViewData["Title"] = "Home Page";
}

<header class="red text-white text-center py-5">
    <div class="container">
        <h1 class="display-4 fst-italic">Benvenuti alla Clinica veterinaria OASI</h1>
        <p class="lead">Dove il benessere dei vostri animali è la nostra priorità assoluta.</p>
    </div>
</header>

<section class="py-5">
    <div class="container">
        <h2 class="text-center text-white fs-2 mb-4">I Nostri Servizi</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 ">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Visite di Routine e Vaccinazioni</h5>
                        <p class="card-text">Controlli regolari e vaccinazioni aggiornate per una salute ottimale.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 ">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Chirurgia</h5>
                        <p class="card-text">Interventi chirurgici con tecnologie all'avanguardia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 ">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Diagnostica Avanzata</h5>
                        <p class="card-text">Diagnosi rapide e accurate con strumenti moderni.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 ">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Farmacia</h5>
                        <p class="card-text">Vasta gamma di prodotti sia di tipo medicinale che di tipo alimentare.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 ">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Consulenze Nutrizionali</h5>
                        <p class="card-text">Piani alimentari personalizzati per ogni tipo di animale, per una vita sana e equilibrata.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 ">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Controllo microchip</h5>
                        <p class="card-text">Controllo tramite microchip di animali registrati da noi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sezione Missione -->
<section class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4 fw-bold ">La Nostra Missione</h2>
        <p class="text-center">Alla Clinica eterinaria OASI, crediamo che ogni animale meriti amore, rispetto e cure di qualità. La nostra missione è creare un ambiente accogliente e professionale, dove voi e i vostri animali vi sentiate a casa. Con passione e dedizione, lavoriamo per garantire il benessere di ogni animale che varca la nostra porta.</p>
    </div>
</section>

<!-- Sezione Contatti -->
<section class="py-5">
    <div class="container text-white">
        <h2 class="text-center mb-4">Contattaci</h2>
        <p class="text-center">Non esitate a contattarci per qualsiasi domanda o per fissare un appuntamento. Siamo qui per voi e per i vostri animali, pronti a fornire l'assistenza di cui avete bisogno.</p>
    </div>
</section>

<!-- Footer -->
<footer class="gray text-white text-center py-3">
    <p class="mb-0 ">Grazie per aver scelto la Clinica veterinaria OASI. Siamo entusiasti di accogliervi nella nostra famiglia!</p>
</footer>
